.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}






.button {
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


{
  box-sizing: border-box;
}
.card{
width:100%;
height:100%;
display:block;
margin-left: auto;
margin-right: auto;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100% ;
  height:50%;
}

.box1 {
  float: left;
   width: 32%;
   padding: 120px;
   height: 300px;
}

.box2 {
  float: left;
  width: 31%;
  padding: 120px;
  height: 300px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



body{
  color:;
  font-family:Sarabun;
  font-size:100%;
  line-height:1.4;
  color: ;
background: white);
}


{
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  /*topnav background color*/
  background-color: black;

}


/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  /*topnav text color*/
  color: white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
  text-align:center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

header{
  font-family:Sarabun;
  background-color: Black;
  padding: 20px;
}
/**main title**/
h1{
  text-align:center;
  color:Black;
}
/* menu button**/
h4{
  text-align:left;
}

p{
  text-align:center;
  font-style: italic;
  color:black;
}

/**middle box**/
div{
    background: white;
  }



img{
  float:left;
  margin-right: 10px;
  height: 200px;
}

h2{
  text-decoration:;
}

section{
  padding-left: 20px;
}

footer{
  text-align: center;
}
